.node-red-dev/flows_LENOVO-LUCA.json
[{"id":"c60df732735c52b8","type":"tab","label":"MQTT GEM Test Flow","disabled":false,"info":"Flow per testare i nodi mqtt-gem con broker test pubblico","env":[]},{"id":"73f68be6cdaf2d64","type":"mqtt-gem-broker","name":"Test Mosquitto Broker","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":"true","usetls":"false","protocolVersion":"4","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"5086f534336c0601","type":"mqtt-gem-broker","name":"Environment Variables Broker","broker":"${MQTT_HOST}","port":"${MQTT_PORT}","clientid":"${MQTT_CLIENT_ID}","autoConnect":"${MQTT_AUTOCONNECT}","usetls":"${MQTT_USETLS}","protocolVersion":"4","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"813bcef1cfbde111","type":"mqtt-gem-broker","name":"Disabled Test Broker","broker":"test.mosquitto.org","port":"1883","clientid":"disabled-client","autoConnect":"false","usetls":"false","protocolVersion":"4","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bf21dc5ce5c0d7cf","type":"mqtt-gem in","z":"c60df732735c52b8","name":"Test Subscriber","topic":"nodered/test/+","qos":"2","datatype":"auto-detect","broker":"73f68be6cdaf2d64","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":200,"wires":[["613fbb3d3e155b23"]]},{"id":"3e1485eb51b0ceac","type":"mqtt-gem out","z":"c60df732735c52b8","name":"Test Publisher","topic":"nodered/test/gem","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"73f68be6cdaf2d64","x":580,"y":140,"wires":[]},{"id":"613fbb3d3e155b23","type":"debug","z":"c60df732735c52b8","name":"Messages Received","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":200,"wires":[]},{"id":"2948f95b60e04ada","type":"inject","z":"c60df732735c52b8","name":"Send Test Message","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello from mqtt-gem!","payloadType":"str","x":160,"y":140,"wires":[["492c2287e0a807c7"]]},{"id":"492c2287e0a807c7","type":"function","z":"c60df732735c52b8","name":"Add Timestamp","func":"msg.payload = {\n    message: msg.payload,\n    timestamp: new Date().toISOString(),\n    node: \"mqtt-gem\",\n    test: \"basic-test\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["3e1485eb51b0ceac"]]},{"id":"6372f9c9082c6307","type":"mqtt-gem in","z":"c60df732735c52b8","name":"Environment Subscriber","topic":"nodered/env/test","qos":"2","datatype":"auto-detect","broker":"5086f534336c0601","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":320,"wires":[["d7f56f748ec06f30"]]},{"id":"d7f56f748ec06f30","type":"debug","z":"c60df732735c52b8","name":"Env Messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"881e32787c10d1f0","type":"mqtt-gem in","z":"c60df732735c52b8","name":"Disabled Test","topic":"test/disabled","qos":"2","datatype":"auto-detect","broker":"813bcef1cfbde111","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":380,"wires":[[]]},{"id":"2cedb023a1e4f980","type":"comment","z":"c60df732735c52b8","name":"ISTRUZIONI TEST:","info":"## Test del nodo mqtt-gem\n\n### 1. Test Base (sempre attivo):\n- **Inject** \"Send Test Message\" invia messaggio via mqtt-gem\n- **Subscriber** riceve messaggi dal topic `nodered/test/+`\n- Verifica connessione e funzionalità di base\n\n### 2. Test Environment Variables:\n- Imposta variabili d'ambiente:\n  ```bash\n  export MQTT_HOST=\"test.mosquitto.org\"\n  export MQTT_PORT=\"1883\"\n  export MQTT_AUTOCONNECT=\"true\"\n  export MQTT_USETLS=\"false\"\n  export MQTT_PROTOCOL=\"5\"\n  export MQTT_CLIENT_ID=\"test-gem-client\"\n  ```\n- Il broker \"Environment Variables\" usa queste variabili\n- Il nodo \"Environment Subscriber\" dovrebbe attivarsi solo se le variabili sono impostate\n\n### 3. Test Disabled:\n- Il nodo \"Disabled Test\" ha `autoConnect=false`\n- Dovrebbe mostrare status \"disabled\" in grigio\n- Non dovrebbe connettersi al broker\n\n### 4. Test Dynamic Protocol:\n- Imposta `MQTT_PROTOCOL=5` per testare MQTT v5\n- Il campo \"Dynamic Protocol\" mantiene `${MQTT_PROTOCOL}`\n- Al runtime usa effettivamente il protocollo v5","x":160,"y":60,"wires":[]}]